/*
* General Styles
*/
body {
  color: #2e2e2e;
  font-family: "Hind Guntur", sans-serif;
  font-size: 16px;
  background-color: #ffffff; }

body.light {
  background-color: #ffffff; }
  body.light .content-wrapper {
    background-color: #fbfdfe; }

body.dark {
  background-color: #242424; }
  body.dark .content-wrapper {
    background-color: #343434; }

.logo {
  width: 44px;
  height: 44px; }

a {
  color: #2e2e2e; }
  a:hover {
    color: #ea2c5a;
    text-decoration: none; }
  a:focus {
    color: #ea2c5a; }

.form-control, .btn {
  font-size: 16px; }

.form-control {
  border-radius: 3px;
  border: solid 1px #e0e1e2;
  padding: 15px 18px;
  height: 46px; }

.form-group {
  margin-bottom: 25px; }

label {
  margin-bottom: 10px; }

.color-default {
  color: #2e2e2e; }

.color-active {
  color: #ea2c5a; }

.padding-def {
  padding: 70px 0; }

.delimiter {
  margin: 23px 0;
  height: 1px;
  border-top: solid 1px #eceff0; }

.bg-clean .btn-default {
  border: none;
  background: transparent; }

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn:active, .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn-default {
  color: #637076;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default:focus,
.btn-default.focus,
.open > .dropdown-toggle.btn-default {
  color: #637076;
  background-color: transparent;
  border-color: transparent; }

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #637076;
  background-color: transparent;
  border-color: transparent; }

.pull-right > .dropdown-menu {
  right: -1px; }

ul.dropdown-menu {
  border-color: #eceff0;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0; }
  ul.dropdown-menu li {
    border-bottom: solid 1px #eceff0; }
    ul.dropdown-menu li a {
      padding: 14px 16px; }
      ul.dropdown-menu li a i {
        padding-right: 5px;
        font-size: 19px; }
    ul.dropdown-menu li:last-child {
      border: none; }
    ul.dropdown-menu li:nth-child(even) {
      background-color: #fbfdfe; }

.tooltip-inner {
  background-color: #44474e;
  font-family: "Hind Guntur", sans-serif;
  font-size: 14px;
  padding: 5px 9px 1px 9px; }

.tooltip.top .tooltip-arrow {
  border-top-color: #44474e; }

.ta-r {
  text-align: right; }

a.active {
  color: #ea2c5a; }

.head-div {
  border-top: solid 1px #eceff0; }

.btn-cv1 {
  border-radius: 3px;
  border: solid 1px #ea2c5a;
  background-color: #ea2c5a;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  width: 100%; }
  .btn-cv1:hover {
    color: #ea2c5a;
    background-color: #ffffff; }

/*
* General Styles END
*/
.vertical-align {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.horizontal-align {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.vert-wrapper {
  display: table;
  width: 100%;
  height: 100%; }
  .vert-wrapper .vert {
    display: table-cell;
    height: 100%;
    vertical-align: middle; }

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-1-5 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left; } }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
textarea,
label.checkbox {
  border: solid 1px #e0e1e2;
  border-radius: 2px; }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
textarea {
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  color: #7e7e7e;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -ms-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    outline: none;
    border-color: #b5b5b5; }
  input[type="text"][readonly]:focus,
  input[type="email"][readonly]:focus,
  input[type="number"][readonly]:focus,
  input[type="search"][readonly]:focus,
  textarea[readonly]:focus {
    outline: none;
    border-color: #e0e1e2; }

textarea {
  padding-top: 10px; }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"] {
  height: 40px;
  padding-top: 4px; }

label.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #ffffff; }
  @media only screen and (max-width: 767px) {
    label.checkbox {
      width: 24px;
      height: 24px;
      border-radius: 4px; } }
  label.checkbox .arrow {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: -1px;
    border: solid 1px #ea2c5a;
    border-radius: 2px; }
    @media only screen and (max-width: 767px) {
      label.checkbox .arrow {
        width: 24px;
        height: 24px;
        border-radius: 4px; } }
    label.checkbox .arrow::before {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 8px;
      left: 3px;
      top: 3px;
      border-top: solid 2px #ea2c5a;
      border-right: solid 2px #ea2c5a;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg); 
      transform: rotate(135deg); }
      @media only screen and (max-width: 767px) {
        label.checkbox .arrow::before {
          width: 10px;
          height: 6px;
          top: 6px;
          left: 6px; } }
  label.checkbox input[type="checkbox"]:checked + .arrow {
    display: block; }
  label.checkbox input[type="checkbox"] {
    display: none; }

label.clipboard {
  position: relative;
  width: 100%; }
  label.clipboard .btn-copy {
    position: absolute;
    display: block;
    width: 56px;
    height: 28px;
    padding-top: 5px;
    top: 50%;
    right: 6px;
    margin-top: -14px;
    border-radius: 2px;
    text-align: center;
    background-color: #eceff0;
    color: #7e7e7e;
    font-weight: normal;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  label.clipboard:hover .btn-copy {
    background-color: #b5b5b5;
    color: white; }

.login-window input {
  height: 46px;
  padding-top: 18px; }

.login-window button {
  padding-top: 22px;
  padding-bottom: 16px; }

input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important; }

label.checkbox-text {
  position: relative;
  display: block;
  overflow: hidden;
  padding-left: 36px; }
  label.checkbox-text .checkbox {
    position: absolute;
    left: 0; }
  label.checkbox-text p {
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: normal; }

.cv-percent {
  color: #28b47e;
  display: inline-block;
  position: relative;
  padding-left: 19px; }
  .cv-percent .cv-circle {
    border: solid 2px #28b47e;
    border-radius: 7px;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 0px; }

ul.list-inline li a:not(.color-active) {
  color: #7e7e7e; }
  ul.list-inline li a:not(.color-active):hover {
    color: #2e2e2e; }

ul.list-inline li a.color-active {
  color: #ea2c5a; }

.social {
  overflow: hidden; }
  .social a {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    margin-bottom: 8px;
    border-radius: 50%;
    color: white;
    text-align: center; }
    .social a:not(:last-child) {
      margin-right: 14px; }
    .social a:hover {
      transform: rotateY(360deg);
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
    .social a.facebook {
      background-color: #3b5998;
      padding-top: 7px; }
    .social a.twitter {
      background-color: #55acee;
      padding-top: 7px; }
    .social a.google {
      background-color: #dd4b39;
      padding-top: 7px; }
    .social a.pinterest {
      background-color: #cb2027;
      padding-top: 7px; }
    .social a.btc {
      background-color: #ff6600; }
    .social a.tumblr {
      background-color: #32506d;
      padding-top: 7px; }
    .social a.vk {
      background-color: #45668e; }
    .social a.reddit {
      background-color: white;
      color: #5f99cf;
      font-size: 30px;
      padding-top: 0; }
    .social a.stumbleupon {
      background-color: #eb4924; }
    .social a.odnoklassniki {
      background-color: #ed812b; }

.tags-type1,
.tags-type2 {
  font-size: 0;
  display: table; }
  .tags-type1 a,
  .tags-type2 a {
    display: inline-block;
    margin-bottom: 8px;
    color: #7e7e7e;
    background-color: white;
    border: solid 1px #e0e1e2;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s; 
    transition: 0.3s;}
    .tags-type1 a:hover,
    .tags-type2 a:hover {
      background-color: #eceff0; }
  .tags-type1 a:not(:last-child),
  .tags-type2 a:not(:last-child) {
    margin-right: 16px; }

.tags-type1 a {
  height: 34px;
  padding: 8px 8px 8px;
  font-size: 16px; }

.tags-type2 a {
  height: 46px;
  padding: 12px 16px 12px;
  font-size: 20px;
  font-weight: 500; }
  .tags-type2 a i {
    margin-right: 14px; }

.block-list > div {
  min-height: 48px;
  padding: 14px 18px 10px;
  border: solid 1px #e0e1e2;
  cursor: pointer;
  overflow: hidden; }
  .block-list > div:hover:not(.active) {
    border-color: #b5b5b5; }
  .block-list > div:not(:last-child):not(.active) {
    margin-bottom: -1px; }
  .block-list > div span {
    display: block;
    color: #7e7e7e; }
  .block-list > div .name {
    float: left; }
  .block-list > div .time {
    float: right; }
  .block-list > div i {
    display: block;
    float: left;
    margin-top: -2px;
    color: #637076;
    font-size: 20px; }
    .block-list > div i:first-child {
      margin-left: -6px;
      margin-right: 10px; }
    .block-list > div i.cvicon-cv-plus {
      float: right; }
  .block-list > div.active {
    border-color: #ea2c5a; }
    .block-list > div.active span {
      font-weight: 500;
      color: black; }
    .block-list > div.active i {
      color: #ea2c5a; }

video {
  display: block;
  width: 100%;
  object-fit: cover; }

.sv-video {
  width: 100%; }
  .sv-video .sv-play {
    cursor: pointer; }
  .sv-video .mejs-container .mejs-inner .mejs-layers .mejs-poster {
    background-size: cover; }
  .sv-video .mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-loaded {
    background: #4d86fe;
    background: rgba(77, 134, 254, 0.8);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(44, 124, 145, 0.8)), to(rgba(77, 134, 254, 0.8)));
    background: -webkit-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(77, 134, 254, 0.8));
    background: -moz-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(77, 134, 254, 0.8));
    background: -o-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(77, 134, 254, 0.8));
    background: -ms-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(77, 134, 254, 0.8));
    background: linear-gradient(rgba(44, 124, 145, 0.8), rgba(77, 134, 254, 0.8)); }

.mejs-overlay-button {
  background-image: none; }
  .mejs-overlay-button:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '\e816';
    font-family: "circle-video";
    width: 66px;
    height: 66px;
    background-color: #343434;
    border-radius: 33px;
    opacity: 0.85;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    color: #ffffff;
    padding-top: 18px;
    font-size: 20px;
    text-align: center; }

.login-window div.checkbox > label {
  padding-left: 40px; }

.login-window label.checkbox {
  position: absolute;
  margin-left: -40px; }

.u-form div.checkbox label.checkbox {
  position: absolute;
  margin-left: -36px;
  margin-top: -3px;
  padding: 0 !important; }

.u-form div.checkbox.checked label {
  color: #ea2c5a !important; }

.form-group input,
.form-group select {
  height: 46px; }

.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.account-header {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/account.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .account-header h1 {
    font-size: 5rem;
    color: white; }

.add-header {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/add-article.jpg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .add-header h1 {
    font-size: 3rem;
    color: white; }

.preview-article {
  height: 450px; }
  .preview-article img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

/*
* Content Index
*/
.content-wrapper {
  background-color: #fbfdfe; }

.content-block .cb-header {
  padding: 20px 0;
  color: #7e7e7e; }
  @media only screen and (max-width: 767px) {
    .content-block .cb-header {
      padding: 12px 0; } }
  .content-block .cb-header .list-inline {
    margin: 0;
    margin-left: -5px;
    line-height: 34px; }

.content-block .cb-content {
  margin-bottom: 25px; }
  @media only screen and (max-width: 767px) {
    .content-block .cb-content {
      margin-bottom: 12px; } }

.content-block.head-div {
  border-top: solid 1px #eceff0; }
  .content-block.head-div.head-arrow {
    position: relative; }
    .content-block.head-div.head-arrow .head-arrow-icon {
      position: absolute;
      width: 80px;
      background-color: #fbfdfe;
      top: 0;
      left: 50%;
      align-items: center;
      justify-content: center;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
      .content-block.head-div.head-arrow .head-arrow-icon i {
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);}
    .content-block.head-div.head-arrow .cb-header {
      padding-top: 24px; }

@media only screen and (max-width: 767px) {
  .avatars [class^='col-']:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
    display: none; } }

.avatars a {
  display: block;
  position: relative;
  max-width: 70px;
  min-width: 50px;
  width: 100%;
  border-radius: 50%;
  overflow: hidden; }
  @media only screen and (max-width: 767px) {
    .avatars a {
      margin: 0 auto; } }
  .avatars a img {
    width: 100%;
    height: auto; }
  .avatars a .note {
    display: none;
    position: absolute;
    padding-top: 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ea2c5a;
    opacity: 0.9;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    justify-content: center; }
  .avatars a:hover .note {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }

.b-article .v-img {
  height: 200px;
  border-radius: 2px;
  position: relative; }
  .b-article .v-img img {
    object-fit: cover;
    height: 100%;
    width: 100%; }
  .b-article .v-img .time {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #373933;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 9px 1px 9px;
    line-height: 14px;
    font-weight: 500; }
  .b-article .v-img .watched {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 6px 4px 0px 5px;
    color: #ffffff;
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    border-radius: 2px;
    background-color: #373933; }
  .b-article .v-img .watched-mask {
    background-color: #ababab;
    opacity: 0.6;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }
  .b-article .v-img .plus {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    text-align: center; }
    .b-article .v-img .plus i {
      padding-top: 4px;
      display: inline-block; }
  .b-article .v-img .plus-details {
    position: absolute;
    top: 5px;
    right: 34px;
    border-radius: 3px;
    background-color: #ffffff;
    opacity: 0.9;
    text-align: left; }
    .b-article .v-img .plus-details ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .b-article .v-img .plus-details ul li {
        padding: 14px 16px;
        border-bottom: solid 1px #eceff0; }
        .b-article .v-img .plus-details ul li:last-child {
          border: none; }
        .b-article .v-img .plus-details ul li i {
          padding-right: 10px; }

.b-article .v-desc {
  color: #343434;
  font-weight: 500;
  padding-top: 25px; }

.b-article .v-views {
  font-size: 15px;
  color: #7e7e7e;
  padding-top: 5px; }
  @media only screen and (min-width: 768px) {
    .b-article .v-views {
      padding-bottom: 30px; } }
  .b-article .v-views .v-percent {
    color: #28b47e;
    display: inline-block;
    position: relative;
    padding-left: 19px; }
    .b-article .v-views .v-percent .v-circle {
      border: solid 2px #28b47e;
      border-radius: 7px;
      width: 14px;
      height: 14px;
      display: inline-block;
      position: absolute;
      top: 1px;
      left: 0px; }

.b-article.last-row .v-views {
  padding-bottom: 0px; }

.video-mobile-02 > .row {
  flex-wrap: wrap;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

@media only screen and (min-width: 768px) {
  .video-mobile-02 .h-article [class^='col-']:last-child {
    margin-top: 25px; } }

@media only screen and (max-width: 767px) {
  .video-mobile-02 .h-article [class^='col-']:last-child {
    padding-left: 0; } }

@media only screen and (max-width: 767px) {
  .chanels-row [class^='col-']:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    display: none; } }

.b-chanel {
  position: relative; }
  .b-chanel .hover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
    background-color: #30333b;
    opacity: 0.9;
    color: #ffffff;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .b-chanel a:hover .hover {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }

.b-playlist .v-img {
  border-radius: 2px;
  position: relative; }
  .b-playlist .v-img img {
    border: solid 2px #fbfdfe;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .b-playlist .v-img a {
    display: inline-block;
    position: relative;
    z-index: 3;
    width: 100%; }
  .b-playlist .v-img .items {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #373933;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 9px 1px 9px;
    line-height: 14px;
    font-weight: 500;
    z-index: 5; }
  .b-playlist .v-img .l-1 {
    z-index: 1;
    position: absolute;
    width: 92%;
    left: 4%; }
  .b-playlist .v-img .l-2 {
    z-index: 2;
    position: absolute;
    margin-top: 11px;
    width: 96%;
    left: 2%; }
  .b-playlist .v-img .l-3 {
    z-index: 3;
    margin-top: 22px; }

.b-playlist .v-desc {
  color: #343434;
  font-weight: 500;
  padding-top: 25px; }
  @media only screen and (max-width: 767px) {
    .b-playlist .v-desc {
      padding-top: 14px; } }

.b-playlist .v-views {
  font-size: 15px;
  color: #7e7e7e;
  padding-bottom: 0px;
  padding-top: 5px; }
  .b-playlist .v-views .v-percent {
    color: #28b47e;
    display: inline-block;
    position: relative;
    padding-left: 19px; }
    .b-playlist .v-views .v-percent .v-circle {
      border: solid 2px #28b47e;
      border-radius: 7px;
      width: 14px;
      height: 14px;
      display: inline-block;
      position: absolute;
      top: 1px;
      left: 0px; }

.v-pagination {
  text-align: center;
  margin-bottom: 40px; }
  .v-pagination a {
    display: block;
    padding: 0 24px;
    min-width: 70px;
    height: 62px;
    margin-top: 22px;
    border-radius: 30px;
    background-color: #eceff0;
    text-align: center;
    color: #2e2e2e;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    @media only screen and (max-width: 767px) {
      .v-pagination a {
        min-width: 60px;
        height: 50px;
        padding: 0 12px; } }
    .v-pagination a:not(:last-child) {
      margin-left: 30px; }
      @media only screen and (max-width: 767px) {
        .v-pagination a:not(:last-child) {
          margin-left: 12px; } }
    .v-pagination a:hover, .v-pagination a.active {
      color: #ffffff !important;
      background-color: #637076; }
      .v-pagination a:hover i, .v-pagination a.active i {
        color: #ffffff !important; }
  .v-pagination ul {
    justify-content: space-between;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    @media only screen and (max-width: 767px) {
      .v-pagination ul {
        flex-wrap: wrap; } }
    @media only screen and (max-width: 767px) {
      .v-pagination ul li {
        display: none; } }
    .v-pagination ul .v-pagination-prev,
    .v-pagination ul .v-pagination-first,
    .v-pagination ul .v-pagination-skin,
    .v-pagination ul .v-pagination-next {
      display: block; }

@media (min-width: 768px) and (max-width: 1365px) {
  .avatars .col-sm-2 {
    padding-bottom: 10px; }
  .articlelist .articleitem {
    min-height: 360px; }
    .articlelist .articleitem img {
      width: 100%; }
  .b-playlist {
    margin-bottom: 15px; }
  .b-chanel {
    margin-bottom: 15px; }
    .b-chanel img {
      width: 100%; }
  .v-pagination .pages {
    width: 62px;
    height: 62px; } }

@media (min-width: 100px) and (max-width: 767px) {
  .avatars .col-sm-2 {
    padding-bottom: 10px; }
  .articlelist .articleitem {
    min-height: 100px; }
    .articlelist .articleitem img {
      width: 100%; } }
  @media only screen and (min-width: 100px) and (max-width: 767px) and (min-width: 768px) {
    .articlelist .articleitem .v-views {
      padding-bottom: 30px; } }
  @media only screen and (min-width: 100px) and (max-width: 767px) and (min-width: 768px) {
    .articlelist .articleitem .last-row .v-views {
      padding-bottom: 30px; } }

@media (min-width: 100px) and (max-width: 767px) {
    .articlelist .articleitem .b-article .v-desc {
      padding-top: 14px; }
  .b-playlist {
    margin-bottom: 15px; }
  .b-chanel {
    margin-bottom: 15px; }
    .b-chanel img {
      width: 100%; }
  .v-pagination .pages {
    width: 62px;
    height: 62px;
    margin-bottom: 10px; }
  .padding-def {
    padding: 15px 0; }
  .footer-logo {
    padding-bottom: 15px;
    text-align: center; }
  footer .navbar-brand {
    float: none; }
    footer .navbar-brand img {
      display: inline-block; }
  footer .f-links {
    text-align: center; }
  footer .f-copy {
    text-align: center; } }

@media only screen and (min-width: 768px) {
  .single-v-footer > *:not(.single-v-footer-switch) {
    display: block !important; } }

@media only screen and (max-width: 767px) {
  .single-v-footer > *:not(.single-v-footer-switch) {
    display: none; } }

.single-v-footer-switch {
  margin-bottom: 30px;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media only screen and (min-width: 768px) {
    .single-v-footer-switch {
      display: none; } }
  .single-v-footer-switch > a {
    width: 100%;
    padding: 4px 0 16px;
    border-bottom: solid 2px #eceff0;
    cursor: pointer;
    text-decoration: none;
    align-items: baseline;
    justify-content: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .single-v-footer-switch > a i {
      margin-right: 4px;
      font-size: 20px; }
      .single-v-footer-switch > a i::before {
        color: #637076; }
    .single-v-footer-switch > a span {
      color: #7e7e7e; }
    .single-v-footer-switch > a.active {
      border-bottom-color: #ea2c5a; }
      .single-v-footer-switch > a.active span, .single-v-footer-switch > a.active i::before {
        color: #ea2c5a; }

.cb-content {
  width: 130% !important; }

/*
* Content Index END
*/
/*
* HEADER
*/
.btn-color-toggle {
  position: fixed;
  left: 30px;
  top: 24px;
  cursor: pointer;
  z-index: 100; }
  @media only screen and (max-width: 1080px) {
    .btn-color-toggle {
      left: inherit;
      right: 30px;
      top: 100px; } }
  @media only screen and (max-width: 767px) {
    .btn-color-toggle {
      display: none !important; } }

body.ovf--hidden {
  overflow: hidden !important; }

ul.menu {
  position: relative;
  margin-bottom: 0;
  z-index: 10;
  margin-top: 25px; }
  ul.menu li:hover ul {
    display: block; }
  ul.menu ul {
    display: none;
    list-style: none;
    padding: 0;
    z-index: 1;
    background-color: white;
    border: solid 1px #eceff0;
    position: absolute; }
    ul.menu ul li a {
      display: block;
      padding: 10px 15px; }
    ul.menu ul li:not(:last-child) {
      border-bottom: solid 1px #eceff0; }

.btn-menu-toggle {
  display: block;
  margin-top: 26px; }

.topsearch {
  margin-top: 15px; }
  .topsearch > i {
    display: none; }
  .topsearch .form-control {
    height: 40px;
    padding: 6px 12px;
    padding-top: 10px; }
  .topsearch .input-group {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    @media only screen and (max-width: 767px) {
      .topsearch .input-group > span {
        margin-left: auto; } }
  .topsearch .input-group-addon, .topsearch .input-group-btn, .topsearch input {
    width: auto;
    border: none;
    background-color: #eceff0; }
  .topsearch .input-group-addon {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px; }
    .topsearch .input-group-addon i {
      font-size: 18px;
      padding-left: 3px;
      padding-top: 3px;
      color: #637076; }
  .topsearch input {
    box-shadow: inset 0px 0px 0px 0px white;
    padding-top: 10px;
    width: 480px;
    border-top-right-radius: 20px; }
  .topsearch .input-group-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 10px; }
    .topsearch .input-group-btn .btn {
      padding: 8px 12px 4px 12px; }
    .topsearch .input-group-btn .btn-default {
      color: #637076;
      background-color: transparent;
      border: none; }
    .topsearch .input-group-btn .cvicon-cv-video-file {
      font-size: 20px; }
    .topsearch .input-group-btn .caret {
      margin-top: -5px; }
    .topsearch .input-group-btn .dropdown-menu {
      left: auto;
      right: 0; }

@media only screen and (max-width: 767px) {
  .navbar-container {
    min-height: 90px;
    padding-bottom: 0 !important;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }

@media only screen and (max-width: 767px) {
  .navbar-container > .container {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .navbar-container:not(.search-open) .input-group-addon {
    background-color: transparent; } }

@media only screen and (max-width: 767px) {
  .navbar-container:not(.search-open) input,
  .navbar-container:not(.search-open) .input-group-btn {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .navbar-container.search-open .topsearch {
    position: absolute;
    left: 15px;
    right: 15px;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }

@media only screen and (max-width: 767px) {
  .navbar-container.search-open .topsearch > i {
    display: block;
    margin-right: 15px;
    font-size: 20px; } }

@media only screen and (max-width: 767px) {
  .navbar-container.search-open .input-group {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .navbar-container.search-open .btn-menu-toggle,
  .navbar-container.search-open .navbar-brand {
    visibility: hidden !important; } }

.avatar {
  width: 70px;
  padding-top: 12px;
  margin-left: 14px;
  position: relative; }
  .avatar .status {
    position: absolute;
    top: 12px;
    left: 0px;
    background-color: #28b47e;
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%; }

.selectuser {
  padding-left: 0px;
  padding-top: 20px; }
  .selectuser .btn-default {
    background-color: transparent;
    border: none; }
  .selectuser .btn .caret {
    margin-left: 5px; }

.loginsignup {
  text-align: right;
  margin-top: 25px; }
  .loginsignup a {
    color: #637076; }
    .loginsignup a:hover {
      text-decoration: underline; }

.navbar-brand {
  padding: 12px 15px; }
  @media only screen and (max-width: 767px) {
    .navbar-brand {
      width: 100%;
      align-items: center;
      justify-content: center;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; } }
  @media only screen and (min-width: 768px) {
    .navbar-brand span {
      display: none; } }
  @media only screen and (max-width: 767px) {
    .navbar-brand span {
      margin-left: 10px;
      margin-top: 4px;
      font-size: 20px;
      color: #ea2c5a;
      font-weight: bold; } }

.navbar-container {
  position: relative;
  height: 70px;
  border-bottom: solid 1px #eceff0; }
  .navbar-container.single {
    padding: 0; }
  @media only screen and (max-width: 767px) {
    .navbar-container [class^='col-'] {
      position: static; } }
  .navbar-container .input-group input.form-control {
    width: 455px; }
  .navbar-container .container {
    position: relative; }
    .navbar-container .container .upload-button {
      z-index: 10;
      position: absolute;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: solid 1px #2cce8f;
      top: 40px;
      right: -100px;
      background-color: #2cce8f;
      color: #ffffff;
      text-align: center;
      -webkit-box-shadow: 2px 2px 10px 0px rgba(44, 206, 143, 0.56);
      -moz-box-shadow: 2px 2px 10px 0px rgba(44, 206, 143, 0.56);
      box-shadow: 2px 2px 10px 0px rgba(44, 206, 143, 0.56); }
      .navbar-container .container .upload-button:hover {
        background-color: #ffffff;
        color: #2cce8f; }
      .navbar-container .container .upload-button a {
        color: #ffffff; }
        .navbar-container .container .upload-button a:hover {
          color: #2cce8f; }
      .navbar-container .container .upload-button i {
        padding-top: 15px;
        font-size: 20px; }
      @media only screen and (min-width: 1024px) and (max-width: 1440px) {
        .navbar-container .container .upload-button {
          right: -50px; } }

.navbar-container2 {
  height: 50px;
  border-bottom: solid 1px #eceff0;
  color: #637076; }
  @media only screen and (max-width: 767px) {
    .navbar-container2 {
      padding-bottom: 14px !important; } }
  .navbar-container2 a i {
    color: #637076; }
    .navbar-container2 a i:hover {
      color: #ea2c5a; }
  .navbar-container2 .goto {
    padding-top: 14px;
    color: #7e7e7e; }
  .navbar-container2 .h-icons {
    padding-top: 14px; }
    @media only screen and (max-width: 767px) {
      .navbar-container2 .h-icons {
        justify-content: space-between;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; } }
    .navbar-container2 .h-icons i {
      font-size: 20px; }
    .navbar-container2 .h-icons a:not(:last-child) i {
      margin-right: 18px; }
  .navbar-container2 .h-resume {
    position: relative;
    padding-left: 55px;
    padding-top: 15px; }
    .navbar-container2 .h-resume .play-icon {
      position: absolute;
      font-size: 22px;
      left: 8px;
      top: 13px; }
  .navbar-container2 .h-grid {
    padding-top: 14px;
    font-size: 20px; }
    .navbar-container2 .h-grid .cvicon-cv-grid-view {
      padding-right: 5px; }

.pages ul.dropdown-menu li:nth-child(even) {
  background-color: #ffffff; }

.pages a:focus {
  color: #ea2c5a;
  text-decoration: none; }

@media (min-width: 768px) and (max-width: 1365px) {
  .navbar-container {
    height: auto;
    padding-bottom: 15px; }
    .navbar-container .input-group input.form-control {
      width: 100%; }
    .navbar-container .container .upload-button {
      top: 15px;
      right: 15px; }
  .navbar-container2 {
    height: auto;
    padding-bottom: 6px; } }

@media (min-width: 100px) and (max-width: 767px) {
  .navbar-container {
    height: auto;
    padding-bottom: 15px; }
    .navbar-container .input-group input.form-control {
      width: 100%; }
    .navbar-container .container .upload-button {
      top: 165px;
      right: 15px; }
  .navbar-container2 {
    height: auto;
    padding-bottom: 15px; } }

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 300px;
  top: 0;
  left: 0;
  background-color: #fbfdfe;
  z-index: 100;
  overflow-y: auto;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s; }
  @media only screen and (min-width: 768px) {
    .mobile-menu {
      display: none !important; } }
  .mobile-menu .navbar-brand {
    width: auto; }
  .mobile-menu.open {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  .mobile-menu .btn {
    width: 100%;
    height: 50px;
    padding: 12px 15px;
    border-radius: 30px;
    align-items: baseline;
    justify-content: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .mobile-menu-head {
    min-height: 90px;
    padding: 8px 20px;
    background-color: white;
    border-bottom: solid 1px #eceff0;
    align-items: center;
    justify-content: space-between;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .mobile-menu-close {
    width: 18px;
    height: 18px;
    border-left: solid 2px #637076;
    border-bottom: solid 2px #637076;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .mobile-menu-btn-color {
    width: 22px;
    height: 22px;
    cursor: pointer; }
    .mobile-menu-btn-color img {
      width: 100%; }
  .mobile-menu-content {
    padding: 20px 20px; }
  .mobile-menu-user {
    padding-bottom: 20px;
    border-bottom: solid 1px #eceff0;
    align-items: baseline;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .mobile-menu-user-img {
      position: relative;
      width: 70px; }
      .mobile-menu-user-img::before {
        position: absolute;
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #28b47e;
        top: 2px;
        left: 2px; }
    .mobile-menu-user p {
      margin-left: 20px;
      color: #637076; }
    .mobile-menu-user .caret {
      margin-left: auto; }
  .mobile-menu-upload {
    margin-top: 20px;
    background-color: #2cce8f; }
    .mobile-menu-upload i {
      margin-right: 12px;
      font-size: 20px; }
      .mobile-menu-upload i::before {
        color: white; }
    .mobile-menu-upload span {
      color: white; }
  .mobile-menu-list {
    padding-bottom: 40px;
    margin-top: 40px;
    border-bottom: solid 1px #eceff0; }
    .mobile-menu-list > ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .mobile-menu-list > ul > li {
        margin-top: 22px;
        margin-bottom: 22px; }
        .mobile-menu-list > ul > li > a {
          text-decoration: none;
          align-items: center;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex; }
          .mobile-menu-list > ul > li > a i:first-child {
            margin-right: 10px;
            font-size: 22px; }
          .mobile-menu-list > ul > li > a > p {
            margin: 0;
            margin-top: 4px;
            color: #7e7e7e; }
          .mobile-menu-list > ul > li > a > .caret {
            margin-top: 4px;
            margin-left: auto; }
  .mobile-menu-categories {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 22px;
    border-top: solid 1px #eceff0;
    border-bottom: solid 1px #eceff0; }
    .mobile-menu-categories li {
      display: block; }
      .mobile-menu-categories li a {
        display: block;
        padding: 10px 0 10px 15px;
        text-decoration: none;
        align-items: center;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; }
        .mobile-menu-categories li a .caret {
          margin-left: auto; }
    .mobile-menu-categories > li:not(:last-child) a {
      border-bottom: solid 1px #eceff0; }
    .mobile-menu-categories > li li a {
      border-bottom: solid 1px #eceff0; }
    .mobile-menu-categories ul {
      display: none;
      list-style: none;
      padding: 0;
      z-index: 1; }
      .mobile-menu-categories ul li a {
        display: block;
        padding: 10px 30px; }
  .mobile-menu-logout {
    margin-top: 20px;
    background-color: #eceff0; }

/*
* HEADER END
*/
/*
* FOOTER
*/
footer {
  border-top: solid 1px #eceff0; }
  footer .row .padding-def {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 767px) {
      footer .row .padding-def {
        flex-wrap: wrap;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; } }
    @media only screen and (max-width: 767px) {
      footer .row .padding-def [class^='col-']:nth-child(3) {
        order: 1; } }
  footer .list-inline {
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 767px) {
      footer .list-inline li a {
        color: #2e2e2e !important; } }
  footer .f-copy {
    color: #7e7e7e; }
    @media only screen and (max-width: 767px) {
      footer .f-copy {
        margin-bottom: 10px; } }
    footer .f-copy a {
      color: #7e7e7e; }
      footer .f-copy a:hover {
        color: #ea2c5a; }
  footer .f-icon {
    width: 140px;
    font-size: 22px;
    color: #637076;
    padding-left: 15px; }
    @media only screen and (min-width: 768px) {
      footer .f-icon {
        padding-top: 35px; } }
    footer .f-icon a {
      padding-right: 14px;
      color: #637076; }
      footer .f-icon a:hover {
        color: #ea2c5a; }
  @media only screen and (min-width: 768px) {
    footer .f-lang {
      padding-top: 30px; } }
  footer .f-lang .btn-default {
    color: #2e2e2e;
    background-color: transparent;
    border: none; }
    @media only screen and (max-width: 767px) {
      footer .f-lang .btn-default {
        margin-bottom: 6px;
        background-color: #eceff0 !important;
        border-radius: 30px;
        padding: 10px 22px; } }
  @media only screen and (max-width: 767px) {
    footer .f-last-line {
      justify-content: center;
      align-items: center;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; } }

/*
* FOOTER END
*/
/*
* Content Account
*/
.bg-image {
  text-align: center; }
  .bg-image img {
    width: 100%; }

.login-wraper {
  position: relative; }
  .login-wraper .login-window {
    position: absolute;
    width: 570px;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -288px; }
    .login-wraper .login-window .l-head {
      background-color: #ffffff;
      padding: 40px;
      border-bottom: solid 1px #eceff0;
      font-weight: 500;
      font-size: 22px;
      color: #343434;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      @media only screen and (max-width: 767px) {
        .login-wraper .login-window .l-head {
          background-color: #fbfdfe; } }
    .login-wraper .login-window .l-form {
      text-align: left;
      background-color: #fbfdfe;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 25px 70px 70px; }
      .login-wraper .login-window .l-form label {
        font-weight: 500; }
      @media only screen and (max-width: 767px) {
        .login-wraper .login-window .l-form .btn {
          border-radius: 30px;
          padding-top: 16px;
          padding-bottom: 12px; } }
  .login-wraper .checkbox {
    font-weight: normal; }
    @media only screen and (max-width: 767px) {
      .login-wraper .checkbox {
        margin-bottom: 30px; } }
    .login-wraper .checkbox p {
      margin-bottom: 4px; }
    .login-wraper .checkbox .text2 {
      display: block;
      font-size: 14px;
      color: #7e7e7e; }
  .login-wraper .ortext {
    padding-top: 25px;
    color: #7e7e7e; }
  .login-wraper .signuptext {
    padding-top: 25px;
    text-align: center;
    color: #343434;
    font-weight: 500; }
    .login-wraper .signuptext.text-right {
      text-align: right; }
  .login-wraper .forgottext {
    margin-top: 25px; }
    .login-wraper .forgottext a {
      color: #7e7e7e; }
      .login-wraper .forgottext a:hover {
        text-decoration: underline; }

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -580px;
  width: 550px; }
  .banner-text .line {
    height: 1px;
    border-top: solid 1px #ea2c5a;
    padding-bottom: 50px;
    width: 280px; }
  .banner-text .b-text {
    color: #ffffff;
    font-size: 80px;
    text-align: left;
    line-height: 80px; }
    .banner-text .b-text .color-b1 {
      color: #b7135d; }
    .banner-text .b-text .color-b2 {
      color: #be154e; }
    .banner-text .b-text .color-b3 {
      color: #d71d52; }
  .banner-text .overtext {
    margin-top: 30px;
    color: #a1a1a1;
    text-align: left; }

@media (min-width: 100px) and (max-width: 1365px) {
  .banner-text {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    width: auto; }
    .banner-text .line {
      display: none; }
    .banner-text .b-text {
      color: #000000;
      font-size: 30px;
      text-align: center;
      line-height: 30px;
      padding-top: 30px; }
    .banner-text .overtext {
      margin: 15px 0;
      color: #a1a1a1;
      text-align: center; }
  .login-wraper .login-window {
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0; }
    .login-wraper .login-window .l-head {
      padding: 20px 10px; }
    .login-wraper .login-window .l-form {
      padding: 25px 20px; } }

/*
* Content Account END
*/
/*
* Content Single Video
*/
.single-article .h-clear {
  text-align: right;
  padding-top: 8px; }
  .single-article .h-clear i {
    font-size: 12px; }

.single-article .h-clear-list {
  text-align: right;
  padding-top: 45px; }
  .single-article .h-clear-list a {
    color: #7e7e7e; }
    .single-article .h-clear-list a:hover {
      color: #ea2c5a; }

.single-article .content-block .cb-header {
  padding: 15px 0;
  margin-bottom: 30px;
  color: #7e7e7e;
  border-bottom: solid 1px #eceff0; }
  .single-article .content-block .cb-header a {
    color: #7e7e7e; }
    .single-article .content-block .cb-header a:hover {
      color: #ea2c5a; }
    .single-article .content-block .cb-header a.active {
      color: #ea2c5a; }
  .single-article .content-block .cb-header .list-inline {
    margin: 0;
    margin-left: -5px;
    line-height: 34px; }

.single-article .h-article {
  margin-bottom: 30px; }
  .single-article .h-article .v-img {
    border-radius: 2px;
    position: relative; }
    .single-article .h-article .v-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .single-article .h-article .v-img .time {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #373933;
      border-bottom-right-radius: 2px;
      border-top-left-radius: 2px;
      color: #ffffff;
      font-size: 14px;
      padding: 6px 9px 1px 9px;
      line-height: 14px;
      font-weight: 500; }
  .single-article .h-article .v-desc {
    color: #343434;
    font-weight: 500; }
  .single-article .h-article .v-views {
    font-size: 15px;
    color: #7e7e7e;
    padding-bottom: 5px;
    padding-top: 5px; }
  .single-article .h-article .v-percent {
    color: #28b47e;
    display: inline-block;
    position: relative;
    padding-left: 19px; }
    .single-article .h-article .v-percent .v-circle {
      border: solid 2px #28b47e;
      border-radius: 7px;
      width: 14px;
      height: 14px;
      display: inline-block;
      position: absolute;
      top: 1px;
      left: 0px; }
  .single-article .h-article.last-row {
    padding-bottom: 0px; }

.single-article .content-wrapper {
  padding-top: 30px; }

.single-article .caption {
  padding-bottom: 21px;
  margin-bottom: 30px;
  border-bottom: solid 1px #eceff0; }
  .single-article .caption .left {
    width: 50%;
    float: left; }
  .single-article .caption .right {
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 10px;
    color: #7e7e7e; }
    .single-article .caption .right a {
      color: #7e7e7e; }
      .single-article .caption .right a:hover {
        color: #ea2c5a; }

.single-article .list .h-article:last-child {
  margin-bottom: 0; }

.single-article .adblock {
  padding: 30px 0; }
  .single-article .adblock .img {
    background-color: #eceff0;
    border-radius: 3px;
    width: 336px;
    height: 280px;
    color: #a1a1a1;
    text-align: center;
    padding-top: 120px; }

.single-article .loadmore {
  padding: 30px 0;
  margin-top: 30px;
  border-top: solid 1px #eceff0;
  text-align: center; }
  .single-article .loadmore a {
    color: #7e7e7e; }
    .single-article .loadmore a:hover {
      color: #ea2c5a; }

.single-article .sv-video {
  position: relative; }
  .single-article .sv-video .sv-play {
    width: 66px;
    height: 66px;
    background-color: #343434;
    border-radius: 33px;
    opacity: 0.85;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    color: #ffffff;
    padding-top: 22px;
    padding-left: 21px;
    font-size: 20px; }
    .single-article .sv-video .sv-play i {
      opacity: 1; }

.single-article h1 {
  margin: 0;
  padding: 30px 0;
  font-size: 22px; }

.single-article .author {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 1px 1px #d6d7d8;
  -moz-box-shadow: 0px 2px 1px 1px #d6d7d8;
  box-shadow: 0px 2px 1px 1px #d6d7d8; }
  .single-article .author .sv-avatar {
    width: 72px;
    float: left; }
  .single-article .author .sv-name {
    width: 430px;
    padding-left: 30px;
    float: left;
    color: #7e7e7e; }
    .single-article .author .sv-name a {
      font-weight: 500;
      color: #2e2e2e; }
      .single-article .author .sv-name a:hover {
        color: #ea2c5a; }
    .single-article .author .sv-name .c-sub {
      padding-top: 13px;
      float: left; }
      .single-article .author .sv-name .c-sub .c-f {
        float: left;
        width: 86px;
        padding: 5px 10px 0px 10px;
        border: solid 1px #ea2c5a;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background-color: #ea2c5a;
        color: #ffffff; }
      .single-article .author .sv-name .c-sub .c-s {
        float: left;
        width: 92px;
        padding: 5px 10px 0px 10px;
        border: solid 1px #eceff0;
        border-left: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #7e7e7e; }
  .single-article .author .sv-views {
    float: right;
    width: 200px; }
    .single-article .author .sv-views .sv-views-count {
      font-size: 20px;
      text-align: right; }
    .single-article .author .sv-views .sv-views-progress {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 3px;
      width: 100%;
      background-color: #eceff0; }
      .single-article .author .sv-views .sv-views-progress .sv-views-progress-bar {
        height: 3px;
        width: 80%;
        background-color: #28b47e; }
    .single-article .author .sv-views .sv-views-stats .percent {
      color: #ea2c5a;
      font-size: 15px;
      padding-right: 30px; }
    .single-article .author .sv-views .sv-views-stats .green {
      color: #28b47e;
      font-size: 15px;
      padding-right: 30px; }
      .single-article .author .sv-views .sv-views-stats .green .circle {
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: solid 2px #28b47e; }
    .single-article .author .sv-views .sv-views-stats .grey {
      color: #7e7e7e;
      font-size: 15px; }
      .single-article .author .sv-views .sv-views-stats .grey .circle {
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: solid 2px #7e7e7e; }

.single-article .info {
  margin-top: 25px; }
  .single-article .info h4 {
    margin: 20px 0 3px 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px; }
  .single-article .info p {
    color: #7e7e7e; }
  .single-article .info .sv-tags {
    margin-bottom: 0; }
    .single-article .info .sv-tags span {
      display: inline-block;
      padding: 5px 9px 1px 9px;
      background-color: #eceff0;
      border-radius: 3px;
      margin-right: 7px; }
  .single-article .info .date-lic h4 {
    display: inline-block; }
  .single-article .info .date-lic p {
    display: inline-block; }

.single-article .showless {
  position: relative;
  border-bottom: solid 1px #eceff0;
  margin: 14px 0; }
  .single-article .showless a {
    display: block;
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -50px;
    height: 28px;
    border: solid 1px #7e7e7e;
    border-radius: 14px;
    padding: 3px 12px 6px 12px;
    background-color: #fbfdfe; }
    .single-article .showless a:hover {
      color: #ea2c5a;
      border-color: #ea2c5a; }

.single-article .adblock2 {
  padding: 30px 0;
  text-align: center; }
  .single-article .adblock2 .img {
    background-color: #eceff0;
    border-radius: 3px;
    width: 728px;
    height: 90px;
    color: #a1a1a1;
    text-align: center;
    padding-top: 26px;
    margin: 0 auto; }

.single-article .similar-videos {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px #eceff0; }
  .single-article .similar-videos .v-views {
    padding-bottom: 0; }
  .single-article .similar-videos .v-percent {
    display: block;
    margin-top: 3px; }

.single-article .reply-comment {
  font-size: 17px;
  margin-bottom: 25px; }
  .single-article .reply-comment i {
    font-size: 20px; }
  .single-article .reply-comment .semibold {
    font-weight: 600;
    padding-left: 5px; }
  .single-article .reply-comment .rc-header {
    margin-bottom: 25px; }
  .single-article .reply-comment textarea {
    width: 100%;
    height: 108px;
    background-color: #ffffff;
    border: solid 1px #eceff0;
    border-radius: 3px;
    padding: 25px 30px;
    color: #7e7e7e; }
  .single-article .reply-comment .rc-ava {
    float: left;
    width: 70px;
    margin-right: 30px; }
  .single-article .reply-comment .rc-comment {
    float: left;
    position: relative;
    width: 670px; }
    .single-article .reply-comment .rc-comment button {
      position: absolute;
      bottom: 5px;
      right: 0px;
      background: none;
      border: none;
      box-shadow: none;
      padding: 15px; }

.single-article .cl-comment {
  margin-bottom: 45px; }
  .single-article .cl-comment .cl-avatar {
    float: left;
    width: 13%;
    padding-right: 30px; }
  .single-article .cl-comment .cl-comment-text {
    float: left;
    width: 87%; }

.single-article .cl-comment-reply {
  margin-bottom: 45px;
  margin-left: 13%; }
  .single-article .cl-comment-reply .cl-avatar {
    float: left;
    width: 15%;
    padding-right: 30px; }
  .single-article .cl-comment-reply .cl-comment-text {
    float: left;
    width: 85%; }

.single-article .cl-name-date {
  color: #8e9ea6;
  font-size: 15px; }
  .single-article .cl-name-date a {
    font-size: 16px;
    color: #ea2c5a; }
    .single-article .cl-name-date a:hover {
      text-decoration: underline; }

.single-article .cl-text {
  padding: 6px 0; }

.single-article .cl-meta {
  color: #8e9ea6; }
  .single-article .cl-meta a {
    color: #8e9ea6; }
    .single-article .cl-meta a:hover {
      text-decoration: underline; }
  .single-article .cl-meta .green {
    color: #28b47e;
    font-size: 15px;
    padding-right: 10px; }
    .single-article .cl-meta .green .circle {
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: solid 2px #28b47e; }
  .single-article .cl-meta .grey {
    color: #7e7e7e;
    font-size: 15px; }
    .single-article .cl-meta .grey .circle {
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: solid 2px #7e7e7e; }

.single-article .cl-replies {
  color: #7e7e7e;
  padding-top: 6px; }
  .single-article .cl-replies a {
    color: #7e7e7e; }
    .single-article .cl-replies a:hover {
      text-decoration: underline; }
  .single-article .cl-replies i {
    font-size: 10px; }

.single-article .cl-comment-text {
  position: relative; }
  .single-article .cl-comment-text .cl-flag {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px; }

.single-article .loadmore-comments {
  margin-bottom: 45px;
  text-align: center; }
  .single-article .loadmore-comments .h-btn {
    background-color: #eceff0;
    color: #2e2e2e;
    padding: 15px 65px;
    border: solid 1px #eceff0;
    height: 48px;
    border-radius: 24px;
    font-weight: normal; }
    .single-article .loadmore-comments .h-btn:hover {
      color: #ea2c5a;
      background-color: #ffffff;
      border: solid 1px #ea2c5a; }

@media (min-width: 100px) and (max-width: 767px) {
  .sv-video img {
    width: 100%; }
  .single-article .adblock2 .img {
    width: 100%; }
  .single-article .adblock .img {
    width: 100%; }
  .single-article .reply-comment .rc-comment {
    width: 100%; }
  .single-article .author > a {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    display: inline-block; }
  .single-article .author .sv-avatar {
    float: none;
    display: inline-block; }
  .single-article .author .sv-name {
    width: 100%;
    padding-left: 0;
    text-align: center;
    float: none; }
    .single-article .author .sv-name .c-sub {
      float: none;
      text-align: center;
      padding-bottom: 15px; }
  .single-article .author .sv-views {
    width: 100%;
    float: none; }
    .single-article .author .sv-views .sv-views-count {
      text-align: center; }
  .single-article .cl-comment .cl-avatar {
    width: 35%;
    padding-right: 15px; }
  .single-article .cl-comment .cl-comment-text {
    width: 65%; }
    .single-article .cl-comment .cl-comment-text .cl-flag {
      right: -10px; }
  .single-article .cl-comment-reply {
    margin-left: 5%; }
    .single-article .cl-comment-reply .cl-avatar {
      width: 35%;
      padding-right: 10px; }
    .single-article .cl-comment-reply .cl-comment-text {
      width: 65%; }
  .b-article {
    margin-bottom: 15px; }
    .b-article .v-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .reply-comment .rc-ava {
    text-align: center;
    float: none;
    margin-bottom: 10px; } }

@media (min-width: 768px) and (max-width: 1365px) {
  .sv-video img {
    width: 100%; }
  .similar-videos .articleitem {
    margin-bottom: 30px; }
    .similar-videos .articleitem img {
      width: 100%; }
  .single-article .reply-comment .rc-comment {
    width: 600px; }
  .single-article .adblock .img {
    width: 100%; }
  .single-article .adblock2 .img {
    width: 100%; } }

/*
* Content Single Video END
*/
/*
* Content Upload
*/
.u-btn {
  margin-top: 10px;
  background-color: #ea2c5a;
  color: white;
  padding: 15px 65px;
  border: solid 1px #ea2c5a;
  height: 48px;
  border-radius: 24px;
  font-weight: 500; }
  .u-btn:hover {
    color: #ea2c5a;
    background-color: #ffffff; }

.upload-page {
  text-align: center;
  color: #7e7e7e; }
  .upload-page .u-area {
    padding-top: 150px;
    padding-bottom: 150px; }
    .upload-page .u-area i {
      font-size: 144px;
      color: #637076; }
    .upload-page .u-area .u-text1 {
      display: block;
      margin-top: 60px;
      margin-bottom: 0;
      font-size: 20px;
      color: #2e2e2e; }
    .upload-page .u-area .u-btn {
      margin-top: 60px;
      background-color: #ea2c5a;
      color: white;
      padding: 15px 65px;
      border: solid 1px #ea2c5a;
      height: 48px;
      border-radius: 24px;
      font-weight: 500; }
      .upload-page .u-area .u-btn:hover {
        color: #ea2c5a;
        background-color: #ffffff; }
  .upload-page .u-terms {
    padding: 45px 0; }
    .upload-page .u-terms a {
      color: #ea2c5a; }
      .upload-page .u-terms a:hover {
        text-decoration: underline; }
    .upload-page .u-terms p {
      margin-bottom: 7px; }

.edit-page {
  text-align: left; }
  .edit-page .u-details-wrap {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: solid 1px #eceff0; }
    @media only screen and (max-width: 767px) {
      .edit-page .u-details-wrap {
        padding-bottom: 20px;
        margin-bottom: 20px; } }
  .edit-page .u-details .ud-caption {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #2e2e2e; }
    @media only screen and (max-width: 767px) {
      .edit-page .u-details .ud-caption {
        padding-top: 15px;
        padding-bottom: 15px; } }
  .edit-page .u-details .imgplace {
    background-color: #8781bd;
    border-radius: 3px;
    width: 100%;
    height: 113px; }
    @media only screen and (max-width: 767px) {
      .edit-page .u-details .imgplace {
        height: 200px;
        margin-bottom: 15px; } }
  .edit-page .u-details .u-title {
    color: #2e2e2e;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    padding-bottom: 4px; }
  .edit-page .u-details .u-progress {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px; }
    .edit-page .u-details .u-progress .u-close {
      position: absolute;
      top: 2px;
      right: 21px; }
      @media only screen and (max-width: 767px) {
        .edit-page .u-details .u-progress .u-close {
          right: 0;
          top: -36px; } }
      .edit-page .u-details .u-progress .u-close i {
        font-size: 20px; }
    .edit-page .u-details .u-progress .progress {
      width: 90%;
      margin-bottom: 0;
      height: 8px;
      background-color: #eceff0;
      -webkit-box-shadow: none;
      box-shadow: none; }
      @media only screen and (max-width: 767px) {
        .edit-page .u-details .u-progress .progress {
          width: 100%; } }
      .edit-page .u-details .u-progress .progress .progress-bar {
        background-color: #28b47e;
        font-size: 8px;
        line-height: 8px;
        border-radius: 4px; }
  .edit-page .u-form label {
    color: #2e2e2e;
    font-weight: normal; }
  @media only screen and (max-width: 767px) {
    .edit-page .u-form .form-group {
      margin-bottom: 20px; } }
  .edit-page .u-form .form-control {
    padding: 6px 12px; }
  .edit-page .u-form .u-category {
    color: #2e2e2e !important;
    padding-bottom: 6px; }
  .edit-page .u-form input[type=checkbox] {
    height: 19px;
    width: 19px;
    margin: 0;
    margin-left: -35px; }
  .edit-page .u-form .checkbox {
    margin-bottom: 17px; }
    .edit-page .u-form .checkbox label {
      padding-left: 35px;
      color: #7e7e7e; }
  .edit-page .u-area {
    text-align: center;
    padding-top: 65px;
    padding-bottom: 20px; }
    .edit-page .u-area .u-btn {
      margin-top: 0; }
  .edit-page .u-terms {
    text-align: center; }

@media only screen and (max-width: 767px) {
  .upload-page .u-area {
    padding-top: 90px;
    padding-bottom: 50px; }
    .upload-page .u-area.mt-small {
      padding-top: 20px; }
    .upload-page .u-area i {
      font-size: 80px; }
    .upload-page .u-area .u-text1 {
      margin-top: 50px; }
    .upload-page .u-area .u-btn {
      width: 100%;
      max-width: 280px;
      margin-top: 40px; }
  .upload-page .u-terms {
    padding: 30px 0 20px;
    margin: 0 auto;
    max-width: 340px; } }

/*
* Content Upload END
*/
